<% content_for :title, 'Activation List' %>
<div class="m-3 row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="w-100 timeMagin">
      <div class="row">
        <h3 style="text-align: center;">User's Activation List</h3>
      </div>
      <div class="row mb-2">
      	<div class="col-3">
      		<%= link_to "Activated List", activation_approvelist_path,class: "text-decoration-none" %>
    		</div>
    		<div class="col-3 offset-md-6">
    			<%= link_to "Reject List", activation_rejectlist_path, class: "text-decoration-none" %>
  			</div>
  		</div>
      <div class="row" id="activationlist">
        <%= render partial: "activation/activationlist" %>
      </div>
    </div>
  </div>  
</div>