
<div class="col-md-6">
  <div class="row">
    <%= link_to "#{pluralize(micropost.like_count,'Like')}", likes_likeshow_micropost_path(id: micropost.id),class: "text-decoration-none",remote: true %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <% unless micropost.is_like(current_user) %>
        <%= link_to "Like",likes_like_micropost_path(id: micropost.id),method: :patch,class: "btn btn-primary text-decoration-none",remote: true %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <%= link_to "#{pluralize(micropost.unlike_count,'Unlike')}", likes_unlikeshow_micropost_path(id: micropost.id),class: "text-decoration-none",remote: true %>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-sm-6 ">
        <% unless micropost.is_unlike(current_user) %>
          <%= link_to "Unlike",likes_unlike_micropost_path(id: micropost.id),method: :patch,class: "btn btn-primary text-decoration-none",remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>