<% content_for :title, 'Edit' %>
<div class="formStyleNew align-items-center p-3">
	<div class="row center">
		<h1 style="text-align: center;">Edit User</h1>
  </div>
	<%= render 'form', user: @user %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#user_profile_image').change(function(){
			if(this.files[0].size > 2097152){
				alert ("profile_image is more than 2 MB")
			}
		})

		$('#user_cover_image').change(function(){
			if(this.files[0].size > 2097152){
				alert ("profile_image is more than 2 MB")
			}
		})

		
	})
</script>




