<% unless user == current_user %>
	<% request = current_user.find_friend_request(user) %>
	<% if !request.present? %>
		<%= link_to 'Send Friend Request', friendship_index_path(id: user.id),remote: true, method: "post",class: "text-decoration-none"%>
	<% elsif request.status == "accept" %>
		<p class="text-center"><%= "#{user.name} and you are friends" %></p>
	<% elsif request.status == "pending" %>
		<p class="text-center"> Friend Request is pending </p>
	<% end %>
<% end %>