<% if receivers.present? %>
	<div class="table-responsive-md">
		<table class="table table-striped">
			<tr>
				<th scope="col">Profile</th>
				<th scope="col">Name</th>
				<th scope="col">Accept</th>
				<th scope="col">Reject</th>
			</tr>
			<% receivers.each do |receiver| %>
				<% user = receiver.sender %>
				<% if user.present? %>
					<tr>
						<td><%= image_tag user.profile_image.url, style: 'height:3vw;width:5vw;'if user.profile_image?%></td>
						<td><%= user.name %></td>
						<td><%= link_to "Accept", friendship_path(receiver.id),class: "text-decoration-none",remote: true, method: "patch"%></td>
						<td><%= link_to "Reject", friendship_path(receiver.id),class: "text-decoration-none",remote: true, method: "delete"%></td>
					<tr>
				<% end %>
			<% end %>
		</table>
	</div>
<% end %>
