html,body {
  height: 100%;
}
.container{
	background-color: ghostwhite;
	/*border:5px solid red;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);*/
}

#BirthdateInline{
	display: flex;
}
#navbarSupportedContent{
	display: flex;
}
.fill{
	min-height: 100%;
  height: 100%;
}

.formStyle{
	width: 50%;
	height: 100%;
  margin: 0 25% 0 25%;
  background-color: white

}

.formStyleNew{
	width: 50%;
	height: 100%;
  margin: 0 25% 0 25%;
  background-color: white
}

.footer{
	background-color: #f8f9fa;
}

.timeMagin{
	background-color: white;
	margin: 20px;
	padding: 20px
}




.image-stack {
  position: relative;
  width: 100%;
}

.image-stack__item--bottom {
  position: absolute;
  right: -80px;
  top: 105px;
  width: 80%; 
  /*z-index: -1;*/
}

.image-stack__item--top {
  padding-top: 20px; 
  padding-right: 20%; 
  width: 80%;
}




