.container{
	background-color: ghostwhite;
	/*border:5px solid red;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);*/
}

#BirthdateInline{
	display: flex;
}
#navbarSupportedContent{
	display: flex;
}
.fill{
	min-height: 100%;
  height: 100%;
}

.formStyle{
	width: 50%;
  margin: 140px 25% 0 25%;
  background-color: lightgrey;

}

.formStyleNew{
	width: 50%;
  margin: 0 25% 0 25%;
  background-color: lightgrey;
}

.footer{
	background-color: #f8f9fa;
}

.timeMagin{
	background-color: white;
	margin: 20px;
	padding: 20px
}

